__pycache__
*__pycache__
*temp.*
temp.*
*.log*
*.zip
venv
.env
debug.*
settings.py
db.*
*.sqlite3
*.pyc
media/
.vscode


# Ignorer les fichiers compilés
env1/**/*.pyd
env1/**/*.so
env1/**/*.dll
env1/**/*.pyc
env1/**/__pycache__/